
// CozyStay Reservation Form
.kodelisting-reservation-form {
    --field-height: 48px;
    --field-space: 30px;
    --dropdown-bg: #fff;
    --dropdown-color: #000;
    --dropdown-border: var(--theme-color1);
    --icon-color: var(--theme-color1);
    --form-bg: var(--theme-color1);
    --form-border-color: rgba(var(--theme-color1-rgb), 0.3);
    --field-space: 12px;
    --form-side-padding: 10px;
    
    input[type="text"], input[type="email"], input[type="url"], input[type="file"], input[type="password"], input[type="number"], input[type="date"], input[type="search"], input[type="tel"], textarea {
        width: 100%;
        padding: 5px var(--form-side-padding);
    }

    .kodelisting-form-field {
        .field-wrap,
        .field-input-wrap {
            position: relative;
        }
        
        &:not(.kodelisting-submit) .field-input-wrap:after {
            @include fontElegant;
            content: "\e874";
            font-size: 12px;
            line-height: 1;
            @include centered-vertical;
            right: 10px;
            opacity: 0.5;
        }
    }

    .kodelisting-form-label {
        display: block;

        .kodelisting-item-description {
            display: block;
            margin-top: -2px;
            font-family: var(--body-font);
            @include fontsize(13);
            line-height: 1;
            opacity: 0.5;
        }
    }

    .field-wrap > .kodelisting-form-label {
        color: var(--text-color);
    }
    
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="file"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    input[type="search"],
    input[type="tel"],
    textarea,
    select {
        height: var(--field-height);
        @include fontsize(14);
        background: none;
        border-color: var(--form-border-color);
        border-style: solid;
        border-width: 1px;
        border-radius: 0;
        color: var(--text-color);
    }
    
    select {
        -webkit-appearance: none !important;
        width: 100%;
    }
    
    button[type="submit"] {
        padding: 0 15px;
        width: 100%;
        height: var(--field-height);
        line-height: 1.2;
        text-align: center;
    }
    
    &.skin-default {
        
        .kodelisting-form-field:not(:first-child) {
            padding-top: var(--field-space);
        }
        
        .form-field-col-1-2 {
            display: inline-block;
            width: 49.2%;
            
            &.kodelisting-adults  {
                padding-right: calc(var(--field-space)/2);
            }
            
            &.kodelisting-children {
                padding-left: calc(var(--field-space)/2);
            }
            
            .kodelisting-dropdown {
                padding: 15px;

                .kodelisting-dropdown-item {
                    flex-wrap: wrap;
                }
                
                .kodelisting-form-label {
                    display: none;
                }
                
                .kodelisting-dropdown-item {
                    justify-content: center;
                }

                .kodelisting-item-description {
                    padding-top: 5px;
                    width: 100%;
                    border-top: 1px dotted var(--dropdown-border);
                    text-align: center;
                    @include fontsize(12);
                    opacity: 0.5;
                }
            }
        }
        
        .kodelisting-dropdown {
            min-width: 100px;
            width: 100%;
        }
    }
    
    &.skin-horizontal-form {
        .kodelisting-form-wrap {
            position: relative;
            @include flex;
            margin: 0 calc(0px - var(--field-space)/2);
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            @media(max-width: $ele-breakpoint-tablet-max) {
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }
            
            .kodelisting-form-field {
                position: relative;
                display: inline-block;
                width: 100%;
                vertical-align: top;
                padding: 0 calc(var(--field-space)/2);
                @media(max-width: $ele-breakpoint-tablet-max) {
                    width: 50%;
                    & {
                        margin-top: 15px;
                        
                        &:nth-child(-n+2) {
                            margin-top: 0;
                        }
                    }
                    &.kodelisting-submit {
                        width: 100%;
                    }
                }
                @media(max-width: $ele-breakpoint-tablet-min) {
                    width: 100%;
                    &:nth-child(-n+2) {
                        margin-top: var(--field-space);
                    }
                }
            }
        }
        
        button[type="submit"] {
            padding: 0 15px;
            text-align: center;
            width: 100%;
        }
        
        &.skin-group-fields-form4 {
            --field-space: 15px;

            .kodelisting-form-wrap {
                flex-wrap: wrap;
            }
            
            .kodelisting-form-field {
                display: block;
                width: 50%;
                margin-top: var(--field-space);
                
                &:nth-child(-n+2) {
                    margin-top: 0;
                }
                
                &.kodelisting-submit:nth-child(5) {
                    width: 100%;
                }
                @media(max-width: $ele-breakpoint-tablet-min) {
                    width: 100%;
                    &:nth-child(-n+2) {
                        margin-top: var(--field-space);
                    }
                }
            }
        }
    }
    
    &.skin-horizontal-form2 {
        --field-space: 40px;

        .kodelisting-form-wrap {
            margin: 0;
            align-items: center;
            
            .kodelisting-form-field:not(.kodelisting-submit) {
                @include flex;
                align-items: center;
            }
            
            .field-wrap {
                flex: 1 1 auto;
            }

            .kodelisting-form-field {
                padding-left: 0;
                padding-right: 0;

                &.kodelisting-check-out,
                &.kodelisting-guests {
                    padding-left: var(--field-space);
                    @media(max-width: $ele-breakpoint-tablet-max) {
                        padding-left: 0;
                    }
                }
                @media(max-width: $ele-breakpoint-tablet-max) {
                    width: 100%;
                    & {
                        margin-top: 15px !important;
                    }
                }
            }
        }
        
        .kodelisting-form-icon {
            width: 20px;
            height: 25px;
            margin-right: 25px;
            
            svg {
                width: 20px;
                height: auto;
                
                path {
                    fill: var(--icon-color);
                }
            }
        }
        
        .kodelisting-form-field.kodelisting-guests {
            .kodelisting-form-icon,
            .kodelisting-form-icon svg {
                width: 25px;
            }
        }
        
        .kodelisting-form-field:not(.kodelisting-submit) {
            .field-input-wrap:after {
                display: none;
            }
            
            &:after {
                @include centered-vertical;
                right: 30px;
                display: block;
                width: 1px;
                height: 56px;
                background: rgba(250,250,250,0.1);
                content: "";

                right: 0;
            }
        }
        
        .kodelisting-form-field.kodelisting-guests:after {
            display: none;
        }
        
        .field-wrap > .kodelisting-form-label {
            @include fontsize(18);
            line-height: 1.2;
        }
        
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="file"],
        input[type="password"],
        input[type="number"],
        input[type="date"],
        input[type="search"],
        input[type="tel"],
        textarea,
        select {
            padding: 0;
            height: auto;
            border: none;
            line-height: 1.2;
        }
        
        button[type="submit"] {
            min-height: 56px;
        }
        
        &.inline-label {
            --field-space: 60px;
            
            .kodelisting-form-icon {
                margin-right: 15px;
            }
            
            .kodelisting-form-label {
                left: 0;
            }
            
            .kodelisting-form-field:not(.kodelisting-submit):after {
                right: 0;
            }
            
            .kodelisting-form-field.kodelisting-check-in,
            .kodelisting-form-field.kodelisting-check-out {
                width: 23%;
            }
            
            .kodelisting-form-field.kodelisting-guests {
                width: 30%;
            }
            
            .kodelisting-form-field.kodelisting-submit {
                width: 24%;
            }
        }
    }
    
    &.style-banner-3 {
        --field-height: 60px;
        --field-space: 0px;
        --btn-radius: 0px;
        
        .kodelisting-form-wrap {
            margin: 0 5px;
            
            &:before {
                position: absolute;
                top: 5px;
                left: -5px;
                display: block;
                width: calc(100% + 10px);
                height: calc(100% - 10px);
                border: 1px solid var(--form-border-color);
                content: "";
                pointer-events: none;
            }
            
            .kodelisting-form-field {
                padding: 0;
            }
            
            .button {
                background: none;
                color: inherit;
                border: 1px solid var(--form-border-color);
            }
        }
    }
    
    &.inline-label {
        .field-wrap > .kodelisting-form-label {
            @include centered-vertical;
            left: 15px;
        }
        
        .field-input-wrap > * {
            text-align: right;
            padding-right: 35px;
        }

        &.kodelisting-form-underline {
            .field-wrap > .kodelisting-form-label {
                left: 0;
            }

            .field-input-wrap > * {
                padding-right: 25px;
            }

            .kodelisting-form-field:not(.kodelisting-submit) .field-input-wrap:after {
                right: 0;
            }
        }
    }

    &.hide-label {
        .field-wrap > .kodelisting-form-label {
            display: none;
        }
    }
    
    .kodelisting-dropdown {
        position: absolute;
        bottom: -12px;
        left: 0;
        @include translateY(100%);
        z-index: -1;
        display: block;
        min-width: 320px;
        background: var(--dropdown-bg);
        color: var(--dropdown-color);
        border: 1px solid var(--dropdown-border);
        box-shadow: 0 0 50px rgba(50,50,50,0.2);
        padding: 30px;
        transition: 0.3s;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        
        &.is-open {
            z-index: 999;
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }
        
        .kodelisting-dropdown-item,
        .kodelisting-quantity {
            @include flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .kodelisting-dropdown-item:not(:last-child) {
            margin-bottom: 15px;
        }
        
        .kodelisting-quantity {
            .input-text {
                padding: 0;
                margin: 0;
                width: 40px;
                height: auto;
                background: none;
                border: none;
                text-align: center;
                color: inherit;
                font-size: 16px;
                line-height: 1.2;
            }
            
            .minus,
            .plus {
                position: relative;
                background: none;
                border: none;
                box-shadow: none;
                outline: none;
                width: 30px;
                height: 30px;
                padding: 0;
                color: inherit;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
                
                &:before,
                &:after {
                    @include centered;
                    display: block;
                    content: "";
                    background: currentColor;
                }
                
                &:before {
                    width: 12px;
                    height: 1px;
                }
            }
            
            .plus:after {
                width: 1px;
                height: 12px;
            }
        }
    }

    .date-range-picker {
        position: absolute;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
    }
}