.kodelisting-rooms {
    .kodelisting-rooms-image-carousel {
        .tm-swiper-button-prev {
            left: 40px;
        }
        .tm-swiper-button-next {
            right: 40px;
        }
        .swiper-pagination {
            position: absolute;
            bottom: 40px;
            left: 50%;
        }
    }
}

