/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot
----------------------------------------- */
[data-tm-layout=dark]:root {
  --theme-color-white: #0d0d0d;
  --theme-color-light: #1d1d1d;
  --theme-color-gray: #222222;
  --theme-color-silver: #292929;
  --theme-color-dark: #ccc;
  --theme-color-dark2: #ddd;
  --text-color: #8c8f94;
  --link-color: #a7aaaf;
  --link-hover-color: #c1c3c7;
  --headings-color: #eee;
  --body-bg: #0a0a0a;
  --body-font-bold-color: #acacac;
  --section-title-color: var(--headings-color);
  --section-title-subtitle-color: var(--text-color);
  --default-header-bg-color: #222;
  --default-header-menu-color: #eee;
  --news-widget-archive-icon-color: #eee;
  --sidebar_widget_list_icon_color: #eee;
  --sidebar_link_color: #aaa;
  --blockquote-text-color: #ccc;
  --blockquote-cite-color: #777;
  --pre-code-text-color: #aaa;
  --bs-info-border-subtle: #111;
  --form_control_common_bg: rgba(39, 39, 39, 0.5);
  --form_control_common_bg_focus: rgb(43, 43, 43);
  --form_control_common_border: rgba(81, 81, 81, 0.5);
}