/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

//lighter darker
$theme-color1-lighter: lighten($theme-color1, 11%);
$theme-color1-darker: darken($theme-color1, 11%);
$theme-color2-lighter: lighten($theme-color2, 11%);
$theme-color2-darker: darken($theme-color2, 11%);
$theme-color3-lighter: lighten($theme-color3, 11%);
$theme-color3-darker: darken($theme-color3, 11%);
$theme-color4-lighter: lighten($theme-color4, 11%);
$theme-color4-darker: darken($theme-color4, 11%);

:root {
  --theme-color1: #{$theme-color1};
  --theme-color1-rgb: #{hexToRGB($theme-color1)};
  --theme-color1-lighter: #{$theme-color1-lighter};
  --theme-color1-darker: #{$theme-color1-darker};
  --theme-color2: #{$theme-color2};
  --theme-color2-rgb: #{hexToRGB($theme-color2)};
  --theme-color2-lighter: #{$theme-color2-lighter};
  --theme-color2-darker: #{$theme-color2-darker};
  --theme-color3: #{$theme-color3};
  --theme-color3-rgb: #{hexToRGB($theme-color3)};
  --theme-color3-lighter: #{$theme-color3-lighter};
  --theme-color3-darker: #{$theme-color3-darker};
  --theme-color4: #{$theme-color4};
  --theme-color4-rgb: #{hexToRGB($theme-color4)};
  --theme-color4-lighter: #{$theme-color4-lighter};
  --theme-color4-darker: #{$theme-color4-darker};

  --gradient-1: linear-gradient(to right, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.37) 100%);
  --gradient-2: linear-gradient(to left, rgba(var(--theme-color1-rgb), 1) 0%, rgba(var(--theme-color1-rgb), 0.7) 100%);
  --gradient-3: linear-gradient(-135deg, rgba(23, 23, 23, 0) 50%, var(--theme-color1) 100%);

  --theme-color1-text-color: #{$theme-color1-text-color};
  --theme-color2-text-color: #{$theme-color2-text-color};
  --theme-color3-text-color: #{$theme-color3-text-color};
  --theme-color4-text-color: #{$theme-color4-text-color};

  --hover-theme-color: #{$theme-color1};
  --footer-default-theme-color: var(--theme-color3);
  --footer-default-hover-theme-color: var(--theme-color3);
  --footer-default-text-color-on-bg-theme-color: var(--theme-color3-text-color);
}
@import "parts/loader";
